#iip-map-admin-page {
  padding-top: 10px;
  min-width: 763px;
}

.iip-map-admin-metabox-holder {
  display: flex;
}

h2.iip-map-admin-metabox-header {
  background-color: #ADD8E6;
  border-bottom: 1px solid #EEEEEE;
  cursor: default;
}

.iip-map-admin-column-wide {
  width: 100%;
}

@media screen and (max-width: 950px) {
  .iip-map-admin-metabox-holder {
    flex-direction: column;
  }
  
  .iip-map-admin-column-side {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    width: 100%;
  }

  .iip-map-admin-small-metabox {
    flex-basis: 49%;
  }
}

#iip-map-admin-form-select {
  margin-left: 10px;
}

.iip-map-admin-shortcode-container,
.iip-map-admin-marker-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iip-map-admin-shortcode-params {
  margin-bottom: 2em;
}

.iip-map-admin-shortcode-label,
.iip-map-admin-marker-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.iip-map-admin-shortcode-input,
.iip-map-admin-shortcode-select {
  width: 40%;
}

.iip-map-admin-shortcode-output {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  padding: .8em;
  white-space: pre-wrap;
}

.iip-map-admin-screendoor-project-container {
  background-color: #F9F9F9;
  border: 1px solid #E5E5E5;
  margin: 10px 5px 5px;
}

.iip-map-admin-project-form {
  align-items: center;
  display: flex;
  padding: 10px;
  width: 100%;
}

.iip-map-admin-project-input {
  margin: 0 10px;
}

.iip-map-admin-configure-box {
  display: flex;
  justify-content: space-between;
}

.iip-map-admin-mapbox {
  flex-basis: 66%;
}

.iip-map-admin-screendoor-dragdrop {
  display: flex;
  justify-content: space-between;
}

.iip-map-admin-column-container {
  background-color: #F1F1F1;
  border: 1px solid lightgrey;
  border-radius: 2px;
  flex-basis: 50%;
  margin: .5em;
}

.iip-map-admin-column-title {
  background-color: #FFFFFF;
}

.iip-map-admin-column-title,
.iip-map-admin-column-list,
.iip-map-admin-column-item-group-container {
  margin: 0;
  padding: 1em .5em;
}

.iip-map-admin-column-item-group-container {
  border-top: 1px solid lightgrey;
}

.iip-map-admin-column-item-group {
  min-height: 100px;
}

[data-required="true"]:after {
  color: red;
  content: " *";
}

.iip-map-admin-column-item {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: .5em;
  margin-bottom: .5em;
  background-color: #FFFFFF;
}

.iip-map-admin-shortcode-box {
  flex-basis: 33%;
}

.iip-map-admin-mapbox,
.iip-map-admin-shortcode-box {
  background-color: #F9F9F9;
  border: 1px solid #e5e5e5;
  margin: 10px 5px 5px;
  padding: 10px;
}

h4.iip-map-admin-metabox-header {
  margin-top: 0;
}

.iip-map-admin-marker-container {
  margin: 20px 0;
}

.iip-map-admin-marker-input {
  width: 50%;
}

.iip-map-admin-button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#admin-map {
  align-items: center;
  border: 1px solid #EEEEEE;
  display: flex;
  justify-content: center;
}

.crosshair {
  color: red;
  display: block;
  font-size: 30px;
  margin: 0;
  position: absolute;
  z-index: 1000;
}