#iip-map-admin-page {
  padding-top: 10px;
  min-width: 763px;
}

.iip-map-admin-metabox-holder {
  display: flex;
}

h2.iip-map-admin-metabox-header.hndle.ui-sortable-handle {
  cursor: default;
}

.iip-map-admin-column-wide {
  width: 100%;
}

.iip-map-admin-column-side {
  margin-left: 20px;
  width: 280px;
}

@media screen and (max-width: 950px) {
  .iip-map-admin-metabox-holder {
    flex-direction: column;
  }
  
  .iip-map-admin-column-side {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    width: 100%;
  }

  .iip-map-admin-small-metabox {
    flex-basis: 49%;
  }
}

#iip-map-admin-form-select {
  margin-left: 10px;
}

.iip-map-admin-shortcode-container,
.iip-map-admin-marker-container {
  display: flex;
  flex-direction: column;
}

.iip-map-admin-shortcode-label,
.iip-map-admin-marker-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.iip-map-admin-shortcode-input,
.iip-map-admin-shortcode-select {
  width: 40%;
}

.iip-map-admin-screendoor-project-container {
  background-color: #F9F9F9;
  border: 1px solid #e5e5e5;
  margin: 10px 5px 5px;
}

.iip-map-admin-project-form {
  align-items: center;
  display: flex;
  padding: 10px;
  width: 100%;
}

.iip-map-admin-project-input {
  margin: 0 10px;
}

.iip-map-admin-configure-box {
  display: flex;
  justify-content: space-between;
}

.iip-map-admin-mapbox {
  flex-basis: 66%;
}

.iip-map-admin-shortcode-box {
  flex-basis: 33%;
}

.iip-map-admin-mapbox,
.iip-map-admin-shortcode-box {
  background-color: #F9F9F9;
  border: 1px solid #e5e5e5;
  margin: 10px 5px 5px;
  padding: 10px;
}

h4.iip-map-admin-metabox-header {
  margin-top: 0;
}

.iip-map-admin-marker-container {
  margin: 20px 0;
}

.iip-map-admin-marker-input {
  width: 50%;
}

.iip-map-admin-button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#admin-map {
  align-items: center;
  border: 1px solid #EEEEEE;
  display: flex;
  justify-content: center;
}

.crosshair {
  color: red;
  display: block;
  font-size: 30px;
  margin: 0;
  position: absolute;
  z-index: 1000;
}