.map-update-marker-text {
  width: 80%;
}

.map-update-marker-input {
  width: 20%;
}

.map-admin-hidden {
  display: none;
  padding-bottom: 10px;
}

label.map-update-marker-values {
  width: 40%;
}

input.map-update-marker-values {
  width: 60%;
}

.map-admin-button-row {
  margin: 10px 0;
}

.map-update-marker-button {
  float: right;
  padding-top: 10px;
}
