/* Style Google Maps info-windows */
h1.iip-map-infowin-header {
  font-size: 1.5em;
  margin: .5em 0;
}

h3.iip-map-infowin-header {
  font-size: 1em;
  margin: .5em 0;
}

.iip-map-infowin-body > p {
  font-size: 1em;
}

@media screen and (max-width: 720px) {
  .gm-style-iw {
    max-width: 80vw;
  }
}

/* Prevent zoom and other Google map icons from blurring */
#map img {
  max-width: none !important;
}

/* Style OpenLayers info-windows */
.iip-map-ol-popup {
  background: #ffffff;
  border: solid 1px #cccccc;
  padding: 10px;
  position: absolute;
  transform: translateX(-50%);
  width: 600px;
}

@media screen and (max-width: 720px) {
  .iip-map-ol-popup {
    width: 80vw;
  }

  .ol-popup-closer {
    right: -39vw !important;
  }
}

.iip-map-ol-popup::before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

h1.iip-map-ol-popup-header {
  font-size: 1em;
  margin: .5em 0;
}

h3.iip-map-ol-popup-header {
  font-size: .75em;
  margin: .5em 0;
}

.iip-map-ol-popup-body {
  padding-bottom: 10px;
}

.iip-map-ol-popup-body > p {
  font-size: .75em;
}

.marker-event-title {
  padding-bottom: 10px;
}

.marker-event-title:hover {
  cursor: pointer;
}

.closed .marker-text {
  display: none;
}

.opened .marker-text {
  display: block;
}

.ol-popup {
  display: inline-block;
  max-height: 654px;
  max-width: 654px;
  overflow: auto;
}

.ol-popup-closer {
  padding: 0 4px;
  position: absolute;
  right: -295px;
  text-decoration: none;
  top: 2px;
  z-index: 1;
}

.ol-popup-closer:hover {
  border-bottom: none;
  text-decoration: none;
}

.ol-popup-closer:after {
  content: "\2716";
}

.arrow {
  display: inline-block;
  font-size: .75em;
  padding-left: 10px;
}

.closed .arrow {
  transform: translateY(-10%) rotateX(180deg);
}

.opened .arrow {
  transform: translateY(-10%);
}
