h1.iip-map-infowin-header {
  font-size: 1.5em;
  margin: .5em 0;
}

h3.iip-map-infowin-header {
  font-size: 1em;
  margin: .5em 0;
}

.iip-map-infowin-body > p {
  font-size: 1em;
}

/* Prevent zoom and other Google map icons from blurring */
#map img {
  max-width: none !important;
}

.iip-map-ol-popup {
  background: #ffffff;
  padding: 10px;
}

h1.iip-map-ol-popup-header {
  font-size: 1em;
  margin: .5em 0;
}

h3.iip-map-ol-popup-header {
  font-size: .75em;
  margin: .5em 0;
}

.iip-map-ol-popup-body > p {
  font-size: .75em;
}
