$red: #9C3017;
$warn: #ff9821;
$border: #aaa;
$border-light: #e2e2e2;
$bg: #f8f8f8;
$bg-dark: #f1f1f1;

.iip-map-admin-mapping {
  background-color: transparent !important;
  margin-top: 16px !important;

  &__inner {
    padding: 10px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }
  &__warning {
    margin-left: auto;
    color: $warn;
  }
  &__error {
    display: block;
    color: $red;
    margin: 0.5em 0;
  }
  input.invalid {
    box-shadow: 0 0 5px $red;
  }

  &__controls {
    box-sizing: border-box;
    border-top: 1px solid $border-light;
    padding: 0.5em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &--item {
      margin-left: 1em;
    }

    &--errors {
      color: $red;
    }
  }

  .react-tabs {
    -webkit-tap-highlight-color: transparent;

    &__tab-list {
      border-bottom: 1px solid $border;
      margin: 0;
      padding: 0;
    }

    &__tab {
      display: inline-block;
      border: 1px solid transparent;
      border-bottom: none;
      bottom: -1px;
      position: relative;
      list-style: none;
      //padding: 6px 12px;
      padding: 0.5em 1em;
      cursor: pointer;
      margin-bottom: 0;

      > span:before,
      > span:after {
        content: "";
        width: 0.65em;
        display: inline-block;
      }
      > span:after {
        text-align: right;
      }

      &.map-events-tabs--dirty {
        color: $warn;

        > span:before,
        > span:after {
          content: "*";
        }
      }

      &--selected {
        //background: #fff;
        background: $bg;
        border-color: $border;
        color: black;
        border-radius: 5px 5px 0 0;
      }

      &--disabled {
        color: GrayText;
        cursor: default;
      }

      &:focus {
        box-shadow: 0 0 5px hsl(208, 99%, 50%);
        border-color: hsl(208, 99%, 50%);
        outline: none;

        &:after {
          content: "";
          position: absolute;
          height: 5px;
          left: -4px;
          right: -4px;
          bottom: -5px;
          background: #fff;
        }
      }
    }

    &__tab-panel {
      display: none;
      border: 1px solid $border;
      border-top: 0;
      background: $bg;

      &--selected {
        display: block;
      }

      &--inner {
        padding: 1em;
        margin-bottom: 1em;
      }
    }
  }
}


.iip-map-admin-button[data-dirty="true"] {
  border-color: #e0982f;
}

.iip-map-admin-card-preview-container {
  .iip-map-admin-card-preview-sample {
    text-align: right;

    .iip-map-admin-card-preview-option {
      display: inline-block;

      .iip-map-admin-card-preview-option-top {
        align-items: start;
      }
    }

    .iip-map-admin-card-preview-toggle-label {
      margin-top: 0;

      &.has-error {
        color: $red;
      }
    }
  }
}

.iip-map-admin-column-item-group.invalid {
  box-shadow: 0 0 5px $red;
}

.iip-map-admin-has-errors {
  margin: 2em 1em 1em;
  display: inline-block;
  height: 30px;
  vertical-align: bottom;
  line-height: 28px;
  color: $red;
}

.iip-map-admin-events {
  display: flex;

  &__column {
    width: 100%;
  }

  &__stats {
    width: 300px;
    padding: 0.5em;
    margin-top: 2em;
    flex-basis: 300px;
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    justify-content: left;
    margin-bottom: 1em;

    span {
      margin-right: 0.5em;
    }
  }

  &__status {

  }

  &__download {
    display: flex;
    align-items: baseline;

    &--status {
      margin-left: 1em;
    }
  }

  &-columns {
    display: flex;
    &--side {
      width: 100%;
    }
  }
}
