body {
  background-color: #F1F1F1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0 auto;
  max-width: 1300px;
}

h1 {
  font-size: 23px;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
  padding: 9px 0 4px;
}

h2 {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 8px 12px;
}

select {
  height: 28px;
  line-height: 28px;
  max-width: 100%;
  padding: 2px;
}

input,
select {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  color: #32373C;
  font-size: 14px;
  margin: 1px;
  outline: 0;
  padding: 3px 5px;
  transition: 50ms border-color ease-in-out;
}

.wp-heading-inline {
  display: inline-block;
  margin-right: 5px;
}

.postbox {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  font-size: 14px;
  margin-bottom: 20px;
  min-width: 255px;
}

.hndle {
  border-bottom: 1px solid #EEEEEE;
}

.inside {
  font-size: 13px;
  line-height: 1.4em;
  margin: 6px 0 0;
  padding: 0 12px 12px;
}

.button {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 28px;
  line-height: 26px;
  margin: 0;
  padding: 0 10px 1px;
  text-decoration: none;
  white-space: nowrap;
  -webkit-appearance: none;
}

.button.button-medium {
  background: #F7F7F7;
  border-color: #CCCCCC;
  box-shadow: 0 1px 0 #CCCCCC;
  color: #555555;
  vertical-align: top;
}

.button.button-large {
  height: 30px;
  line-height: 28px;
  padding: 0 12px 2px;
}

.button.button-primary {
  background: #0085BA;
  border-color: #0073AA #006799 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.iip-map-admin-column-side {
  margin-left: 20px;
  width: 280px;
}