.mapboxgl-popup {
    max-width: 340px !important; //override mapbox
    z-index: 9; //display popup over filter
}

.mapboxgl-popup-content {
    box-shadow: none;
    padding: 10px 30px 25px;
}

.info-window {
    color: #646873;
    font-size: 14px;

    h3 {
        font-size: 16px;
    }

    h3,
    h4 {
        color: #1b2953;
    }

    h4 {
        font-size: 12px;
        margin: 0 0 0 0;
        text-transform: uppercase;
    }

    &__body {
        padding: 15px 0;
        > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @supports (display: grid) {
                display: grid;
            }

            &.info-window__location {
                @supports (display: grid) {
                    grid-template-columns: 85px 1fr;
                }
            }

            &.info-window__date-time {
                @supports (display: grid){
                    grid-template-columns: 85px auto auto;
                    justify-content: flex-start;
                }

                .info-window__time {
                    &:before {
                        content: '|';
                        margin-left: 5px;
                        display: inline-block;
                        padding-right: 5px;
                    }
                }
            }

            + div {
                margin-top: 10px;
            }

            &.info-window__date + .info-window__time {
                margin-top: 0;
            }
        }
    }

    &__body,
    &__header {
        border-bottom: 1px solid #d7dae6;
    }

    &__header {
        color: #1b2953;
        padding-bottom: 15px;
    }

    &__footer {
        padding: 15px 0;
    }

    &__title {
        margin-bottom: 5px;
        + .info-window__general {
            margin-top: 0;
        }
    }
}