.iip-map-textfield {
  padding: 0.35em;
}

.map-admin-clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.map-admin-project-info-input {
  float: right;
  width: 600px;
}

.map-admin-shortcode-input {
  float: right;
  width: 100px;
}

.map-admin-shortcode-output {
  border: 1px solid #e5e5e5;
  background-color: #F1F1F1;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}

.map-shortcode-output-label {
  font-weight: bold;
}
